<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="aws" type="Amazon.AWSSection, AWSSDK.Core"></section>
  </configSections>
  <aws profileName="gasmon"/>
  <aws region="EU-West-1"
        arn="arn:aws:sns:eu-west-1:552908040772:EventProcessing-UCAS2-snsTopicSensorDataPart1-OVN4WSEGUZ58"
     bucket="eventprocessing-ucas2-locationss3bucket-1dfub0iyuq3av" key="locations.json">
    <logging logTo="Log4Net"/>
  </aws>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>