<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
   <aws region="EU-West-1"
         arn="arn:aws:sns:eu-west-1:552908040772:EventProcessing-UCAS-snsTopicSensorDataPart1-192PWV2C34LTW"
      bucket="eventprocessing-ucas-locationss3bucket-xeezxq82iuo4" key="locations.json">
      <logging logTo="Log4Net"/>
    </aws>
  <configSections>
    <section name="aws" type="Amazon.AWSSection, AWSSDK"></section>
  </configSections>
  <aws profileName="{my_profile}"/>
</configuration>